@media (max-width: 992px) {
  .gifs-list .result-item {
    width: 33%;
    height: 200px;
  }
}

@media (max-width: 576px) {
  .gifs-list .result-item {
    width: 49%;
    height: 145px;
  }

  .pop-up .original-img {
    width: 100%;
  }
}
