body {
  font-family: "Roboto", sans-serif;
}

.spinner-border {
  position: fixed;

  padding: 5rem;
  color: #8873ff;

  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  margin: auto;
}

.search-title {
  font-family: "Comfortaa", sans-serif;
  font-size: 2.25rem;
}

.search-input {
  font-size: 1rem;
  border: 2px solid #000000;
}

.popup {
  position: fixed;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background: rgba(0, 0, 0, 0.7);
}

.popup-img {
  width: 550px;
  max-height: 600px;
}

.btn-danger {
  width: 550px;
}

.results-title {
  letter-spacing: 0.04em;
  font-weight: 900;
}

.col,
.search-title,
.results-title {
  margin-bottom: 2rem;
}

.result-item {
  margin-bottom: 11px;
  width: 250px;
  height: 250px;
  cursor: pointer;
}
